@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>HOSPITAL SANTO DOMINGO</h1>
    <p class="lead">Esta es la pagina para configuracion de consultas, ingresos, altas, monitoreo de pacientes
    y doctores del Hospital Santo Domingo</p>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Imagenes/paciente.jpg" alt="Foto-paciente" width="200" height="200" /> 
        <p><a class="btn btn-default" href="/Home/AddPatient">Agregar paciente</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Imagenes/doctor.jpg" alt="Foto-doctor" width="200" height="200" />
        <p><a class="btn btn-default" href="/Home/AddPatient">Agregar doctor</a></p>
    </div>
    <div class="col-md-4">
        <h2>Concultas</h2>
        <p><a class="btn btn-default" href="/Home/AddPatient">Agregar paciente</a></p>
    </div>
</div>